<!-- <button mat-fab class="fab" (click)="openForm()"><mat-icon>add</mat-icon></button>
<div>
    <mat-form-field class="filter">
        <input matInput type="text" placeholder="Filter">
    </mat-form-field>
</div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
        <mat-cell *matCellDef="let r">{{r.no}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let r">{{r.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
        <mat-cell *matCellDef="let r">{{r.address}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="subscription_type">
        <mat-header-cell *matHeaderCellDef>Subscription Type</mat-header-cell>
        <mat-cell *matCellDef="let r">{{r.subscription_type}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table> -->