.mapcard {
  padding: 5px;
  height: calc(100% - 20px);
}
.select-box-flex {
  flex: calc(20 - 10px);
}

.alert-card {
  background-color: rgb(156, 43, 58);
  color: white !important;
}

.lengend-item {
  padding: 2px 2px 2px 0px;
}

.div-right-border {
  border-right: 0.5px solid lightgray;
}

.tooltip-style {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #0ab5cc;
  .tooltip-header {
    background-color: #0ab5cc;
    font-weight: bold;
    font-size: 14px;
    padding: 2px;
  }
  .tooltip-body {
    color: black;
    padding: 2px;
  }
}
.sidebutton {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 500;
  top: 50%;
  right: -11px;
  cursor: pointer;
  font-size: 50px;
  text-align: right;
}

.sidebutton-moved {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 500;
  top: 50%;
  right: calc(20% + 19px);
  cursor: pointer;
  font-size: 50px;
  text-align: right;
  color: gray;
}

.sideSearch {
  height: 100%;
  background-color: #25205a;
  overflow-y: scroll;
  width: 20%;
  position: absolute;
  right: 0px;
}

.text-block {
  padding: 5px 5px;
}

.div-right-border {
  border-right: 0.5px solid lightgray;
}
.backgroundColor {
  background-color: #0ab5cc;
}

.full-screen {
  position: absolute;
  top: calc(15% + 10px);
  right: 10px;
  z-index: 500;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
}

.full-screen-moved {
  position: absolute;
  top: calc(15% + 10px);
  right: calc(20% + 45px);
  z-index: 500;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
}

.sample-margin {
  margin: 5px;
}

.ev-tooltip-style {
  border-radius: 5px;
  background-color: #0ab5cc;
  border: 1px solid #0ab5cc;
  font-weight: bold;
  font-size: 14px;
  padding: 2px;
}

.checkbox-container {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
}

.track-vehicle-button {
  z-index: 20;
  font-size: 24px;
}
.button-view {
  background: #7772a1;
  color: azure;
  margin: 10px;
}
.scrolls {
  margin: 0px !important;
}
.no-margin {
  margin: 0px !important;
}
.bck {
  background-color: #0ab5cc;
}
// .overFlow{
//   overflow-y: scroll;
// }
.activeGreen{
  color: green;
}
.activeRed{
  color:red;
}
.temp_sensor {
  background: url("../../../../../assets/images/temp_sensor_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
}

.ph_sensor {   
  background: url("../../../../../assets/images/Group_67.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.humidity_sensor {
  background: url("../../../../../assets/images/Group_65.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.alcohol_sensor {
  background: url("../../../../../assets/images/Group_66.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.temp_logo{
  background: url('../../../../../assets/images/TemperatureSensor.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  width: auto;   
}
.do_sensor{
  background: url("../../../../../assets/images/Group_66.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.image_container{
  min-height: 10vh;
}

.mat-card{
  padding: 0px !important;
}

.toggle-style {
  padding-bottom: 5px;
  padding-left: 8px;
  padding-top: 5px;
  padding-right: 8px;
}

.sensor-style {
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
}

.color-temp {
  color: #F6A74B;
  font-weight: 600;
  font-size: 2.5em;
}

.reading-header{
  padding-top: 5px;
}

.color-humidity {
  color: #AD79B4;
  font-weight: 600;
  font-size: 2.5em;
}

.color-ph {
  color: #28BACF;
  font-weight: 600;
  font-size: 2.5em;
}
.color-do{
  color: rgb(121, 97, 231);
  font-weight: 600;
  font-size: 2.5em;
}

.color-alcohol {
  color: #94B966;
  font-weight: 600;
  font-size: 2.5em;
}

.example-card {
  border-radius: 5px;
}

.temp_header{
  border: 1px #F6A74B solid;
}

.ph_header {
  border: 1px #28BACF solid;
}

.humidity_header {
  border: 1px #AD79B4 solid;
}

.alcohol_header {
  border: 1px #94B966 solid;
}

.pin {
  float: right;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-top: 5px;
}

.pin-logo {
  background: url('../../../../../assets/images/Path299.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  float: right;
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 30px !important;
  height: 30px !important;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}