.box-title{
    background: linear-gradient(135deg, rgba(225,30,98,1) 35%, rgba(41,34,104,1) 100%);
    border-radius: 2px;
    text-align: center;
    color:whitesmoke;
}

.list-items{
    background: #fff;
}

// .location-background{
    
// }