<div class="main-content">
    <div fxLayout="column">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="card-title">Contact Us</mat-card-title>
        </mat-card-header>
        <form [formGroup]="contactForm" (ngSubmit)="OnSubmit(contactForm)" class="example-form">
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <input matInput formControlName="Name" placeholder="Name" class="form-control">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput formControlName="Email" placeholder="Email" class="form-control">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-select formControlName="Node" placeholder="Select Node" class="form-control">
                  <mat-option *ngFor='let node of CustomerNode' [value]="node.node_id">{{node.uid}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width text-Expand">
                <textarea matInput formControlName="Message" class="form-control-text" placeholder="Leave a Message"></textarea>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <div class="Submit-button">
                <button mat-raised-button class="btn-submit" type="submit" color="primary">Submit</button>
            </div>
        </mat-card-actions>
        </form>
      </mat-card>
    </div>
</div>
