table {
    width: 100%;
    td, th {
        font-size: 80% !important;
    }
    button {
        font-size: 90%;
        padding: 0px 4px;
        min-width: unset !important;
    }
}
.header{
    background-color: #0ab5cc;
    padding: 8px;
    color: rgb(255, 255, 255);
}
.redColor {
    color: rgb(248, 16, 16);
}