.sensor{
    height: 25px;
    width: 25px;
}
.card-border{
    padding-bottom: 10px;
}
.example-card-inner{
    margin-bottom: 10px;
}
.sensorDate{
    font-size: 8px;
    color: blue;
}
.redClass{
    color:red;
}
.greenClass{
    color:green;
}
.reading{
    font-size: 15px;
}
