<mat-toolbar>
    <mat-toolbar-row>
        <div fxFlex="row" class="icon-Inactive">
            <a mat-icon-button fxFlex="auto" routerLink={{routerLink4}} [routerLinkActive]="['is-active']"><mat-icon>home</mat-icon></a>
            <a mat-icon-button fxFlex="auto" routerLink={{routerLink0}} [routerLinkActive]="['is-active']"><mat-icon>room</mat-icon></a>
            <a mat-icon-button fxFlex="auto" routerLink={{routerLink1}} [routerLinkActive]="['is-active']"><mat-icon>devices</mat-icon></a>
            <a mat-icon-button fxFlex="auto" routerLink={{routerLink2}} [routerLinkActive]="['is-active']"><mat-icon>notifications</mat-icon></a>
            <a mat-icon-button fxFlex="auto" routerLink={{routerLink3}} [routerLinkActive]="['is-active']"><mat-icon>forum</mat-icon></a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
