<div mat-dialog-title>
    Assign Vendor
</div>
<div mat-dialog-content>
    <form [formGroup]="customerassignForm">
        <div class="form-container">
            <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start" fxLayoutGap="35px">
                <div fxFlex="0 1 calc(33.3% - 35px)" fxFlex.lt-sm="100%">
                    <mat-form-field class="form-field">
                        <input matInput [readonly]=true formControlName="customer_name">
                    </mat-form-field>
                </div>
                <div fxFlex="0 1 calc(33.3% - 35px)" fxFlex.lt-sm="100%">
                    <mat-form-field class="form-field">
                        <mat-select placeholder="Select Vendor" formControlName="vendor">
                            <mat-option *ngFor="let vendor of vendorData" [value]="vendor">
                                {{vendor.vendor_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="0 1 calc(33.3% - 35px)" fxFlex.lt-sm="100%">
                    <mat-form-field class="form-field">
                        <input matInput [matDatepicker]="picker" placeholder="Assignment start date" formControlName="assign_effective_from">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>  
                </div>
                <div fxFlex="0 1 calc(33.3% - 35px)" fxFlex.lt-sm="100%">
                    <mat-form-field class="form-field">
                        <input matInput [matDatepicker]="picker2" placeholder="Assignment End date" formControlName="assign_effective_to">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div mat-dialog-actions mat-elevation-z6>
            <button mat-stroked-button type="button" (click)="CancelOperation()" class="cancelbtn">Cancel</button>
            <span class="example-spacer"></span>
            <button mat-raised-button [disabled]="customerassignForm.invalid" [class.blank-panel]="customerassignForm.invalid" type="submit" class="savebtn" (click)="onSubmit(customerassignForm)">Save</button>
        </div>
    </form>
</div>