<div fxLayout="column" class="main-contain">
    <div fxFlex="10%">
        <div fxLayout="row wrap" fxLayoutAlign="start">
            <form [formGroup]="searchForm" class="from-control">
                <div class="search-bar-container">
                    <mat-icon class="search-icon">search</mat-icon>
                    <input class="search-bar" matInput placeholder="Search" (keyup)="applyFilter($event.target.value)"
                        formControlName="searchField">
                </div>
            </form>
        </div>
    </div>
    <div fxFlex="5%" class="autoRefresh">
        <span>Auto Refresh </span>
        <mat-slide-toggle (change)="sensorRefresh($event.checked)" [checked]="checked">
        </mat-slide-toggle>
    </div>
    <div fxFlex="85%" class="box">
        <p-accordion>
            <div *ngFor="let segment of filteredSegment | async">
                <p-accordionTab header="{{segment.segment_name}}">
                    <div *ngFor="let gateway of segment.gateway">
                        <div *ngIf="allDatas.length === 0" class="message">
                            {{message}}
                        </div>
                        <div *ngFor="let node of gateway.nodes">
                            <app-node [node]="node" [autoRefresh]="autoRefresh" [gateway]="gateway.gateway_name">
                            </app-node>
                        </div>
                    </div>
                </p-accordionTab>
            </div>
        </p-accordion>
    </div>
</div>
<ngx-spinner color="rgba(223,12,95,0.9)" bdOpacity="0.9" type="ball-atom">
</ngx-spinner>