.filterclass {
    background: none;
    border: none;
    position: relative;
    bottom: 2%;
    width: 100%;
    font-weight: regular;
}

.searchbar {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 0.5%;
}

.mat-row:nth-child(odd){
    background-color:rgb(245, 255, 245);
}
.customer-panel{
    height: 98%;
    //border: 3px solid #00AEC6;
}

.panel-header {
    background-color: #4FA99F;
    border-radius: 0px;
    color: white !important;
}

.panel-header:hover {
    background-color: #4FA99F !important;
}

.main-content {
    height: calc(100vh - 240px);
    overflow: auto;
}

.main-table{
    width: 100%;
}

.mat-row:nth-child(even) .assignment{
    color: grey
}
.mat-row:nth-child(odd) .assignment {
    color:  #4FA99F
}

.cancelbtn {
    border-color: #df0c5f !important;
    color: #df0c5f !important;
}

.savebtn {
    background-color: #df0c5f !important;
    color: white !important;
}

.form-field{
    width: 100%;
}

.form-container {
    padding: 10px 10px 0px 10px !important;
}


.divider *{
    color: #00CED1;
}

.divider{
    color: #00CED1;
}