.device-panel {
    height: 98%;
    //border: 3px solid #EC6D9F;
}

.panel-header {
    background-color: #F48024;
    border-radius: 0px;
    color: white !important;
}

.panel-header:hover {
    background-color: #F48024 !important;
}

.main-content {
    height: 100%;
}

.add-button {
    line-height: 24px;
    height: 24px;
}

.action-row-content {
    line-height: 24px;
    height: 24px;
}