.form-field {
    width: 100%;
}

.cancelbtn {
    border-color: #df0c5f !important;
    color: #df0c5f !important;
}

.savebtn {
    background-color: #df0c5f !important;
    color: white !important;
}
.form-container {
    padding: 10px 10px 0px 10px !important;
}