<mat-expansion-panel disabled expanded class="device-panel">
    <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
            <div fxFlex='30' style="padding-top:1%; padding-left:2%; padding-bottom: 1%; font-weight: regular;">Assignments</div>
            <div fxFlex='40' class='searchbar'>
                <mat-icon fxFlex='10'>search</mat-icon>
                <input fxFlex='50' class='filterclass' matInput (keyup)="applyFilter($event.target.value)"
                    placeholder="Search" style="color:white;">
            </div>
            <div fxFlex='28' style="padding-top:2%;"></div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="main-content">
        <table mat-table class="main-table" [dataSource]="dataSource">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>Select</th>
                <td mat-cell *matCellDef="let element">
                    <mat-radio-button value="element.gateway_assign_id" [checked]="element.gateway_assign_id === selectedAssignment.gateway_assign_id" (click)="viewDetails(element)"></mat-radio-button>
                </td>
            </ng-container>
            <ng-container matColumnDef="customer_name">
                <th mat-header-cell *matHeaderCellDef>Customer</th>
                <td mat-cell *matCellDef="let element">
                    {{element.customer_name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="customer_branch_name">
                <th mat-header-cell *matHeaderCellDef>Branch</th>
                <td mat-cell *matCellDef="let element">
                    {{element.customer_branch_name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="branch_unit">
                <th mat-header-cell *matHeaderCellDef>Segment</th>
                <td mat-cell *matCellDef="let element">
                    {{element.branch_unit}}
                </td>
            </ng-container>
            <ng-container matColumnDef="gateway_assign_effective_from">
                <th mat-header-cell *matHeaderCellDef>Assigned From</th>
                <td mat-cell *matCellDef="let element">
                    {{element.gateway_assign_effective_from | date:'mediumDate'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="gateway_assign_effective_to">
                <th mat-header-cell *matHeaderCellDef>Assigned To</th>
                <td mat-cell *matCellDef="let element">
                    {{element.gateway_assign_effective_to | date:'mediumDate'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="gateway_name">
                <th mat-header-cell *matHeaderCellDef>Gateway</th>
                <td mat-cell *matCellDef="let element">
                    {{element.gateway_name}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-action-row>
        <span class="example-spacer"></span>
        <button mat-icon-button>
            <mat-icon class="mat-icons-round md-dark md-inactive md-24" (click)="InitializeClick(24)">
                edit
            </mat-icon>
        </button> &nbsp;
        <button mat-icon-button>
            <mat-icon class="mat-icons-round md-dark md-inactive md-24">
                delete_outline
            </mat-icon>
        </button>&nbsp;
        <button mat-icon-button (click)="InitializeClick(19)">
            <mat-icon class="mat-icons-round md-pinkV md-24">
                add_circle
            </mat-icon>
        </button>
    </mat-action-row>
</mat-expansion-panel>