<div mat-dialog-title>
    {{title}}
</div>
<div mat-dialog-content>
    <form [formGroup]="nodeForm">
        <div class="form-container">
            <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start" fxLayoutGap="35px">
                <div fxFlex="0 1 calc(33.3% - 35px)" fxFlex.lt-sm="100%">
                    <mat-form-field class="form-field">
                        <mat-label>Device UID</mat-label>
                        <input matInput placeholder="Type Device UID Here" formControlName="uid" autocomplete="off">
                    </mat-form-field>
                </div>
                <div fxFlex="0 1 calc(33.3% - 35px)" fxFlex.lt-sm="100%">
                    <mat-form-field class="form-field">
                        <mat-label>Data Collection Frequency</mat-label>
                        <input matInput type="number" placeholder="Type Data Collection Frequency Here" formControlName="data_collection_frequency" autocomplete="off">
                    </mat-form-field>
                </div>
                <div fxFlex="0 1 calc(33.3% - 35px)" fxFlex.lt-sm="100%">
                    <mat-form-field class="form-field">
                        <mat-label>Data Sending Frequency</mat-label>
                        <input matInput type="number" placeholder="Type Data Sending Frequency Here" formControlName="data_sending_frequency" autocomplete="off">
                    </mat-form-field>
                </div>
                <div fxFlex = "0 1 calc(33.3% - 35px)" fxFlex.lt-sm="100%">
                    <mat-form-field class="form-field">
                        <mat-label>Industry type</mat-label>
                        <mat-select placeholder="Select Industry Type Here" formControlName="industry_type">
                            <mat-option *ngFor="let i of industryType" [value]="i.domain_code">
                                {{i.domain_value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex = "0 1 calc(33.3% - 35px)" fxFlex.lt-sm="100%">
                    <mat-form-field class="form-field">
                        <mat-label>Latitude</mat-label>
                        <input matInput type="text" placeholder="Type Device Latitude" formControlName="latitude" autocomplete="off">
                    </mat-form-field>
                </div>
                <div fxFlex = "0 1 calc(33.3% - 35px)" fxFlex.lt-sm="100%">
                    <mat-form-field class="form-field">
                        <mat-label>Longitude</mat-label>
                        <input matInput type="text" placeholder="Type Device Longitude" formControlName="longitude" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>

            <span class="divider" fxLayout="row">Add Sensors <hr fxFlex/></span>
            <br>
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="flex-start" fxLayoutGap="35px">
                <div fxFlex="0 1 calc(100%)" fxFlex.lt-sm="100%">
                    <mat-form-field class="form-field">
                        <mat-chip-list #chipList aria-label="Sensors">
                            <mat-chip *ngFor="let sensor of sensorList" [selectable]="selectable" [removable]="removable" (removed)="remove(sensor)">
                                {{sensor.sensor_model}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input matInput placeholder="Sensors" class="form-field" #sensorInput [matChipInputFor]="chipList"[matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matAutocomplete]="autoSensor" formControlName="sensors">
                        </mat-chip-list>
                        <mat-autocomplete #autoSensor="matAutocomplete" (optionSelected)="select($event)">
                            <mat-option *ngFor="let sensor of sensorOptions" [value]="sensor">
                                {{sensor.sensor_model}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div mat-dialog-actions mat-elevation-z6>
            <button mat-stroked-button type="button" class="cancelbtn" (click)="closeDialog()">Cancel</button>
            <span class="example-spacer"></span>
            <button mat-stroked-button color="primary" type="submit" class="savebtn" [disabled]="nodeForm.invalid" [class.blank-panel]="nodeForm.invalid" (click)="saveNode(nodeForm)">Save</button>
        </div>
    </form>
</div>